Package: ublocks
Architecture: @Arch
Maintainer: Bernat Romagosa <bernat@romagosa.work>
Priority: optional
Version: @AppVersion
Section: devel
Installed-Size: @InstalledSize
Homepage: http://microblocks.fun
Description: MicroBlocks IDE
 MicroBlocks is a graphical and dynamic blocks language for 32 bit
 microcontroller boards such as the BBC micro:bit, the Adafruit
 Circuit Playground Express, the NodeMCU and many Arduinos.
Depends: python3, python3-serial
