.pio
.piolibdeps
apps
chromeApp/MicroBlocks/gp_wasm.data
chromeApp/MicroBlocks/gp_wasm.js
chromeApp/MicroBlocks/gp_wasm.wasm
gp/packagers/darwin/esptool
gp/packagers/linux/esptool
gp/packagers/win32/esptool
linux+pi/ublockscode
linux+pi/GnuBlocks
precompiled/vm.*
BUILD
uBlocks.crx
*.swp
*.swo
*.exe
*.deb
misc/connector/node/build
misc/connector/node/package-lock.json
misc/connector/node/node_modules
