.pio
.piolibdeps
apps
chromeApp/MicroBlocks/gp_wasm.data
chromeApp/MicroBlocks/gp_wasm.js
chromeApp/MicroBlocks/gp_wasm.wasm
chromeApp/MicroBlocks.zip
linux+pi/ublockscode
linux+pi/vm_*
linux+pi/qemu
precompiled/vm_*
data/*
BUILD
*.swp
*.swo
*.exe
*.deb
*.pem
