body {
    margin: 0;
}

.emscripten {
    padding: 0;
    margin: 0;
    display: block;
}

#screen {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #000;
}

.buttons {
margin: 10px;
text-align: center;
font-family: 'sans';
}

.buttons span {
	display: inline-block;
	background: #898;
	padding: 5px;
	border-radius: 5px;
	border: 1px outset;
	margin: 0 10px;
	user-select: none;
}

.buttons span:hover {
	cursor: 'hand';
	background: #9A9;
}

.buttons span:active {
	border: 1px inset;
}
