body {
    margin: 0;
}

.emscripten {
    padding: 0;
    margin: 0;
    display: block;
}

#screen {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #000;
}


#status {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(120, 120, 120);
}

#progress {
    height: 20px;
    width: 30px;
}

#controls {
    display: none;

#output {
    display: none;
}

